{% assign directoryPrefix = "" %}
{% for i in (1..level) %}
    {% assign directoryPrefix = directoryPrefix | append: "../" %}
{% endfor %}

<article class="h-entry">
    <header>
        <h1 class="p-name">{{ title }}</h1>
        <section>
            <small>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                {{ date }}
                <time class="dt-published" style="display: none;">
                    {{ isodate }}
                </time>
            </small>
            <small>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                {{ readingTime }} {% if readingTime == 1 %} Minute {% else %} Minutes {% endif %}
            </small>
            <small>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg>
                <a href="https://github.com/IanWold/ianwold.github.io/commits/master/Site/Posts/{{ slug }}.md">History</a>
            </small>
            {% if topics %}
                <small>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7.01" y2="7"></line></svg>
                    {% for topic in topics %}
                        <a href="{{ directoryPrefix }}Topics/{{ topic | downcase }}.html">{{ topic }}</a>
                    {% endfor %}
                </small>
            {% endif %}
        </section>
        <p class="p-summary">{{ description }}</p>
        <img class="u-photo" alt="hero" src="https://images.unsplash.com/{{ hero }}?w=1000&h=525&fit=crop&crop=entropy" alt="Header image" />
    </header>

    {% if contents %}
        <nav>
            <ul>
                {% for section in sections %}
                    <li>
                        <a href="#{{ section.id }}">
                            {% if section.level == 1 %}
                                <strong>{{ section.name }}</strong>
                            {% else %}
                                {{ section.name }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
    {% if series %}
        <aside>
            <p><strong>This is a post in my <a href="{{ directoryPrefix }}Series/{{ seriesSlug }}.html">{{ series }} Series</a>.</strong></p>
            {{ seriesDescription | raw }}
        </aside>
    {% endif %}

    <section class="e-content">
        {{ content | raw }}
    </section>

    <footer>
        <div id="webmentions"></div>

        <div class="comments">
            <script src="https://giscus.app/client.js"
                    data-repo="IanWold/ianwold.github.io"
                    data-repo-id="MDEwOlJlcG9zaXRvcnkxNTk1NDkyNzI="
                    data-category="Posts"
                    data-category-id="DIC_kwDOCYKHWM4CZH2Y"
                    data-mapping="title"
                    data-strict="0"
                    data-reactions-enabled="0"
                    data-emit-metadata="0"
                    data-input-position="top"
                    data-theme="light"
                    data-lang="en"
                    data-loading="lazy"
                    crossorigin="anonymous"
                    async>
            </script>
        </div>
    </footer>
</article>
<footer>
    <section>
        <img src="{{ directoryPrefix }}images/hero1.svg" alt="Ian's Logo" />
        <section>
            <h2>
                Hi, I'm Ian
            </h2>
            <p>
                I'm a software engineer, architect, and team leader in Minneapolis. My career has largely focused on .NET and web technologies, spread across several industries. Currently I'm working for Crate &amp; Barrel on their ecommerce solutions. You can find me on this blog, contributing to open source repositories, and at conferences around the Midwest.
            </p>
            <hr>
            <p>
                If you'd like to keep up with me, please subscribe to my <a href="https://buttondown.email/ianwold" target="_blank">book club</a> or <a href="https://ian.wold.guru/feed.xml" target="_blank">RSS feed</a>. If you'd like to help me out with server costs, I would be forever grateful if you <a href="https://ko-fi.com/ianwold">bought me a coffee</a>!
            </p>
            <hr>
            <p>
                Some other posts you might be interested in:
            </p>
            <ul>
                {% for post in related %}
                    <li>
                        <a href="{{ directoryPrefix }}Posts/{{ post.fileName }}.html">
                            <h3>{{ post.title }}</h3>
                            <small>{{ post.description }}</small>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </section>
</footer>

<script>
    const nav = document.querySelector('main nav');
    if (nav) {
        nav.style.setProperty('--element-height', `${nav.offsetHeight}px`);
    }

    document.addEventListener('DOMContentLoaded', function() {
        fetch(`https://webmention.io/api/mentions.jf2?target=${window.location.href}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Ope!`);
                }

                return response.json();
            })
            .then(json => {
                const mentionList = document.createElement('ul');

                json.children.forEach(child => {
                    const date = new Date(child.published);
                    const formattedDate = date.toLocaleDateString("en-GB", {
                        day: "2-digit",
                        month: "long",
                        year: "numeric"
                    });

                    var itemHtml = document.createElement('li');
                    itemHtml.innerHTML = `<a href="${child.url}">${child.author.name} on ${formattedDate}</a>`;
                    mentionList.appendChild(itemHtml);
                });

                const webmentionsDiv = document.getElementById('webmentions');

                if (mentionList.children.length > 0) {
                    webmentionsDiv.innerHTML = '<section><p><strong>This post has been webmentioned by:</strong></p></section>';
                    console.log(webmentionsDiv.firstChild.firstChild);
                    webmentionsDiv.firstChild.firstChild.appendChild(mentionList);
                } else {
                    webmentionsDiv.remove();
                }
            });
    });
</script>