<article>
    <p>{{ content | raw }}</p>

    <ul>
        {% for l in links %}
            <li><a href="{{ directoryPrefix }}{{ folder }}/{{ l.Slug }}.html">{{ l.Title }}</a></li>
        {% endfor %}
    </ul>
</article>